<%= form_with(model: rent_house, local: true) do |form| %>
  <% if rent_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent_house.errors.count, "error") %> prohibited this rent_house from being saved:</h2>

      <ul>
        <% rent_house.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :house_name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :備考%>
    <%= form.text_area :remaks %>
  </div>
<hr>
    <tr>
    <% num = 1 %>
      <%= form.fields_for :stations do |stations_form| %>
      最寄り駅<%= "#{num}"%><br>
        <td><%= stations_form.label :路線名 %></td>
        <td><%= stations_form.text_field :route_name %></td><br>

        <td><%= stations_form.label :駅名 %></td>
        <td><%= stations_form.text_field :station_name %></td><br>

        <td><%= stations_form.label :徒歩分数 %></td>
        <td><%= stations_form.text_field :on_foot %>分</td><br>
        <% num += 1 %>
      <% end %>
    </tr>

  <div class="actions">
    <%= form.submit '登録する'%>
  </div>
<% end %>
