<p id="notice"><%= notice %></p>

<h1>Rent Houses</h1>

<table>
  <thead>
    <tr>
      <th>House name</th>
      <th>Rent</th>
      <th>Address</th>
      <th>Age</th>
      <th>Remaks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_houses.each do |rent_house| %>
      <tr>
        <td><%= rent_house.house_name %></td>
        <td><%= rent_house.rent %></td>
        <td><%= rent_house.address %></td>
        <td><%= rent_house.age %></td>
        <td><%= rent_house.remaks %></td>
        <td><%= link_to 'Show', rent_house %></td>
        <td><%= link_to 'Edit', edit_rent_house_path(rent_house) %></td>
        <td><%= link_to 'Destroy', rent_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent House', new_rent_house_path %>
